<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="io.split.android.android_client">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true" android:usesCleartextTraffic="true">

    </application>

</manifest>
